body{
    background-color: #f5f5f5;
    font-family: 'Raleway', sans-serif;
}

header{
    background-attachment: fixed;
    background-image: url('../img/banner.jpg');
    background-size: 1300px;
    color: white;
    text-align: center;
}

#contacto{
    background-color: #1b242f;
    color: white;
    font-size: 15px;
    text-align: center;
}

#formacion{
    background-color: white;
}

#nombre{
    color: #e31b6d;
}

#sobreMi{
    font-size: 20px;
    text-align: center;
}